body {
  text-align: center;
  font-family: "Princess Sofia";
  font-weight: 100;
  background: purple;
}

h1 {
  font-family: "Princess Sofia";
  font-weight: 100;
  font-size: 2.5em;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
  font-weight: "Princess Sofia";
  font-size: 2em;
}

div.eigh-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

div.answer {
  background-color: purple;
  border: 1px solid purple;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

p#eigh {
  font-size: 4em;
  margin: 20% auto;
  color: black;
}

p#aner {
  padding: 25px;
  color: black;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: bolder;
}

button,
input {
  margin: 20px;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Princess Sofia";
  font-weight: 100;
  letter-spacing: 2px;
  transition: 0.5s font-size;
  background: black;
  color: purple;
}

button:hover {
  font-size: 1.4em;
}
